.imageButtonLink {
    text-decoration: none;
    display: block;
}

.imageButtonPaper {
    padding: 5rem;
    background-size: cover;
    background-position: center;
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
    cursor: pointer;
    color: inherit; 
}

.imageButtonPaper:hover {
    box-shadow: 0px 0px 3rem #015757;
}

#title {
    position: absolute;
    top: 5px;
    left: 10px;;
}